<h1> members </h1>


<ul>
  <% for member in @members %>
  <li><a href="/members/<%=member.id%>">
  <%= member.first_name.capitalize%>
  <%= member.last_name.capitalize%>

  </a></li>
  <% end %>
  <a href="/">Back to home</a>
</ul>
