<form  action="/members/" method="POST">
  <label for="first-name">First Name: </label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name: </label>
  <input type="text" name="last_name" id="last-name">

  <label for="gender">Gender: </label>
  <input type="text" name="gender" id="gender">

  <label for="dob">Date of birth: </label>
  <input type="text" name="dob" id="dob">

  <label for="address">Address: </label>
  <input type="text" name="address" id="address">

  <label for="post-code">Post code: </label>
  <input type="text" name="post_code" id="post-code">

  <label for="email">Email address: </label>
  <input type="text" name="email" id="email">

  <label for="phone-number">Gender: </label>
  <input type="text" name="phone_number" id="phone-number">

  <input type="submit" value="SUBMIT">
</form>
