<p class="index-title">Welcome to Gymland</p>


<div class="btn-cont">
  <button class="ind-btn mbr"><a href="/members">GO TO MEMBERS</a></button>
  <button class="ind-btn ses"><a href="/sessions">GO TO SESSIONS</a></button>

</div>
