<p class="index-title">Welcome to Gymland</p>


<div class="btn-cont">
  <button class="ind-btn mbr"><a href="/members"><i class="fas fa-user-friends"></i> MEMBERS</a></button>
  <button class="ind-btn ses"><a href="/sessions"><i class="fas fa-running"></i> SESSIONS</a></button>
  <button class="ind-btn ses"><a href="/bookings"><i class="fas fa-book-open"></i> BOOKINGS</a></button>


</div>
