<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <title>Gymland</title>
</head>
<body>
  <div class="nav-container">
    <nav class="navbar">
      <div class="logo"> <a href="/">Gymland</a>
        <a href="/">  <i class="fas fa-dumbbell"></i></a>
      </div>
      <ul class="nav-list">
        <li class="nav-link"><a href="/members">Find/Add Member</a></li>
        <li class="nav-link"><a href="/sessions">Sessions</a></li>
        <li class="nav-link"><a href="/bookings">Bookings</a></li>
      </ul>
    </nav>
  </div>
  <div class= "bg">

    <main class="content-container">

    <%= yield %>
    </main>

  </div>
  <footer id="footer">
    <div class="foot-fa">
      <a href="https://github.com/rosscumming"> <i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/rossc_pce/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/ross.cumming.731"><i class="fab fa-facebook"></i></a>

   </div>
    <div class="foot-txtbg">
      <div class="my-name">MADE BY ROSS CUMMING</div>
    </div>
  </footer>
</body>
</html>
