<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>Gymland</title>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="/members/">Find a member</a></li>
      <li class="nav-item"><a href="/members/new">Add new member</a></li>
      <li class="nav-item"><a href="/sessions">Sessions</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
