@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: black;
  overflow: hidden;
}

.bg {
  background-image: url("images/background.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.content-container {

  width: 980px;
  height: 100vh;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

.nav-list {

  display: flex;

}


a {
  text-decoration: none;
}

.logo a{
  color: white;
  height:50px;
  line-height: 50px;
}

.button-wrap {
  width: 17%;
  display: inline-block;
}

.nav-link {
  margin: 0 0 0 20px;
}

.nav-link li{
  display: flex;
}

.nav-link a{
  color: white;
}

.navbar {
  height:50px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-container{
  width: 100vw;
  background: #00171F;
}

.details-btn {
  border: none;
  background: #5842f4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
}

.details-btn a{

  color: white;

}

.home-btn {
  border: none;
  background: #f45842;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
}

.home-btn a{

  color: white;
}


.edit-btn  {
  border: none;
  background: #4285f4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
}

.edit-btn a{

  color: white;

}

.back-btn {
  border: none;
  background: #4285f4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
}

.back-btn a{
  color: white;
}
