@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;

}

.nav-list{
  list-style-type: none;
  display: flex;

}

a {
  text-decoration: none;
}

.logo a{
  color: white;
  height:50px;
  line-height: 50px;
  margin: 0 0 0 20px;


}

.nav-link {
  margin: 0 20px 0 0;
}

.nav-link li{
display: flex;
}

.nav-link a{
  color: white;
}

.navbar {
  height:50px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
