@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: #000;

}


.content-container {

  width: 980px;
  height: 100vh;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

.nav-list {

  display: flex;

}


a {
  text-decoration: none;
}

.logo a{
  color: white;
  height:50px;
  line-height: 50px;


}

.nav-link {
  margin: 0 0 0 20px;
}

.nav-link li{
display: flex;
}

.nav-link a{
  color: white;
}

.navbar {
  height:50px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-container{
  width: 100vw;
  background: #00171F;
}
